@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto+Condensed:wght@300&display=swap");
@font-face {
  font-family: "Proxima Nova Font";
  src: url("../fonts/Proxima-Nova-Font.otf");
}
@font-face {
  font-family: "Kallisto Medium";
  src: url("../fonts/Kallisto-Medium.otf");
}
@import url(./variable.css);

body {
  font-family: "Proxima Nova Font", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  /* color: var(--main2); */
  color: #4000ffc6;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

span {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.618;
}

/*header*/
header .menu_header ul li {
  display: inline;
}

header a {
  margin-left: 25px;
  font-weight: 600;
}

header .btn {
  padding: 10px 35px;
  border-radius: 3px;
}

/*body title*/
.title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  background-image: url("../assets/Title-BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
}

.title-container .title {
  margin-top: 280px;
}

.title-container .title p {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.title-container .title h2 {
  text-transform: uppercase;
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
}

.title-container .title .btn {
  margin-top: 10px;
  padding: 10px 55px;
  font-size: 22px;
  text-transform: capitalize;
}

.title-container .title-img {
  margin-top: 165px;
}

/*body stay_connect*/
.stay_connect {
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 70px;
}

.stay_connect h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

.stay_connect ul {
  margin-top: 40px;
}

.stay_connect li {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 600;
}

.stay_connect li:before {
  content: url("../assets/Check.svg");
  margin-right: 10px;
}

.stay_connect .btn {
  margin-top: 20px;
  padding: 10px 55px;
  font-size: 22px;
  text-transform: capitalize;
}

/*body contact*/
.contact {
  margin-top: 100px;
  padding: 50px 120px;
  color: white;
  background-color: transparent;
  background-image: linear-gradient(180deg, #3e00ffe0 0%, #ae00fb80 100%);
}

.contact h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.contact p {
  margin-top: 20px;
  font-size: 18px;
}

.contact .btn {
  margin-top: 10px;
  padding: 10px 40px;
  font-size: 18px;
  text-transform: capitalize;
}

/*footer*/
footer {
  color: white;
  /* background-color: var(--secondary); */
  background-color: #393939;
}

footer a {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

footer a:hover {
  color: #d9d9d9;
}

footer p {
  color: #d9d9d9;
  font-size: 20px;
  font-weight: 600;
}

footer li {
  margin-top: 5px;
}

footer span {
  margin-bottom: 20px;
  font-size: 15px;
}

footer hr {
  margin-left: 230px;
  margin-right: 230px;
  border-top: 2px solid white;
}

/* breardcrum */
.breadcrums {
  font-family: "Roboto Condensed", sans-serif;
}

.breadcrums a {
  text-decoration: none;
  color: red;
  text-transform: capitalize;
}

/* button  */
.btn_main {
  color: white;
  /* background-color: var(--main); */
  background-color: #3e00ff;
}

.btn_main:hover {
  color: white;
  /* background-color: var(--main2); */
  background-color: #4000ffc6;
}

.btn_round {
  border-radius: 5px;
}
