@import url(./base.css);

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
}

.section-1 span {
  margin-bottom: 10px;
  margin-left: 140px;
}

.section-2 {
  margin-top: 100px;
}

.section-2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 600;
  font-size: 54px;
}

.section-2 img {
  width: 390px;
  height: 390px;
  margin: 0px 20px 20px 10px;
  transition: transform 0.1s ease;
  transform: translateY(0px);
}

.section-2 img:hover {
  transform: translateY(10px);
}
