@import url(./base.css);

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 130px;
}

.section-1 span {
  margin-bottom: 10px;
}

.section-2 {
  margin-top: 50px;
}

.section-2 .discribe {
  padding-right: 80px;
}

.section-2 .discribe h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.section-3 ul {
  margin-left: 100px;
  margin-right: 30px;
}

.section-3 ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.section-3 li div::before {
  content: url("../assets/Arrow-right.svg");
  margin-right: 10px;
}
