@import url(./base.css);

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
  display: flex;
  align-items: center;
}

.section-2 {
  margin-top: 100px;
}

.section-2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 300;
  font-size: 54px;
}

.section-2 .card-container {
  margin-top: 50px;
  display: flex;
  align-items: start;
}

.section-2 .card-container .card {
  width: 410px;
  height: 380px;
  margin-right: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.section-2 .card span {
  margin-top: 20px;
  text-align: center;
  color: #4f4f4f;
}
