@import url(./base.css);

.title-container .title h2 {
  text-transform: capitalize;
  font-weight: 500;
}

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
  display: flex;
  align-items: center;
}

.section-1 span {
  margin-left: 20px;
}

.section-2 {
  margin-top: 120px;
}

.section-2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 300;
  font-size: 54px;
}

.section-2 .image-2 {
  height: 550px;
  border-left: 2px solid;
  border-right: 2px solid;
}

.section-2 .image-2 img {
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-3 {
  margin-top: 70px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  align-items: baseline;
}

.section-3 img {
  margin-bottom: 15px;
  margin-right: 50px;
}

.section-3 .discribe {
  width: 75%;
}

.section-3 .discribe h2 {
  margin-bottom: 20px;
  font-family: "Kallisto Medium", Sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
