@import url(./base.css);

.section-1 {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 130px;
  display: flex;
  align-items: center;
}

.section-1 span {
  margin-bottom: 10px;
}

.discribe {
  padding-right: 120px;
}

.discribe h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}
