@import url(./base.css);

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
}

.section-1 span {
  margin-bottom: 10px;
}

.section-2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 600;
  font-size: 54px;
}

.section-2 .card-container {
  margin-top: 15px;
  display: flex;
  align-items: start;
}

.section-2 .card-container .card {
  width: 300px;
  height: 670px;
  margin-right: 20px;
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.section-2 .card p {
  text-align: center;
  color: #6852ed;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1;
}

.section-2 .card span {
  margin-top: 20px;
  text-align: center;
  color: #4f4f4f;
}
