@import url(./base.css);

.section-1 {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 130px;
}

.section-1 span {
  margin-bottom: 10px;
}

.section-2 {
  margin-top: 100px;
}

.section-2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 300;
  font-size: 54px;
}

.section-2 .card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-2 .card-container .card {
  width: 32%;
  height: 280px;
  margin-bottom: 25px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}

.section-2 .card img {
  margin-bottom: 30px;
}

.section-2 .card p {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}
